<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectaps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="SIMTI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityTokopedia"></activity>
        <activity android:name=".ActivityOvo" />
        <activity android:name=".ActivityTraveloka" />
        <activity android:name=".ActivityGojek" />
        <activity android:name=".ActivityProfesi7" />
        <activity android:name=".ActivityProfesi6" />
        <activity android:name=".ActivityProfesi5" />
        <activity android:name=".ActivityProfesi4" />
        <activity android:name=".ActivityProfesi3" />
        <activity android:name=".ActivityProfesi2" />
        <activity android:name=".ActivityBukalapak" />
        <activity android:name=".ActivityDetail" />
        <activity android:name=".ActivityProfesi1" />
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityUtama" />
        <activity android:name=".ActivityProfil" />
        <activity android:name=".ActivityUlasan" />
        <activity android:name=".ActivityKontak" />
        <activity android:name=".ActivityTentang" />
    </application>

</manifest>